# Maven
target/
*.class
*.jar
*.war

# Spring Boot
*.log
application-local.yml
application-local.yaml

# Environment variables
.env
*.env

# IDE
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Docker volumes (local)
docker-volumes/

# Node (frontend)
node_modules/
dist/
.angular/